.montserrat {
  font-family: "Montserrat", sans-serif;
}

.aclonica {
  font-family: "Aclonica", sans-serif;
}

.f-20 {
  font-size: 20px;
}

.big-container {
  padding: 15px;
  flex: 1;
  gap: 20px h1;
  gap-font-size: 28px;
  gap-margin-bottom: 15px;
  gap-color: #333;
}
.big-container .main-text {
  margin-bottom: 15px;
  background-color: #ffffff;
  line-height: 1.6;
  font-size: 16px;
  padding: 15px;
  border: Solid 1px #000000;
}

.small-container {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.small-container .FirstBus {
  flex: 1;
  border: 1px solid #312f2f;
  text-align: center;
  min-height: 250px;
  min-width: 425px;
}
.small-container .ScotRail {
  flex: 1;
  border: 1px solid #312f2f;
  text-align: center;
  min-height: 250px;
  min-width: 425px;
}
.small-container .Subway {
  flex: 1;
  border: 1px solid #312f2f;
  text-align: center;
  min-height: 250px;
  min-width: 425px;
}

.p-30 {
  padding: 30px 0;
}

.aside {
  float: left;
  padding: 60px;
  border-right: 1px solid #841DE0;
  box-shadow: 4px 1px 10px -8px #841DE0;
  height: 100%;
  width: 20%;
}
@media screen and (max-width: 1024px) {
  .aside {
    width: 15%;
    padding: 30px;
  }
  .aside li {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .aside {
    width: 20%;
  }
}
.aside ul {
  list-style: none;
  padding: 0;
}
.aside ul a {
  text-decoration: none;
  color: unset;
}
.aside ul li {
  padding-left: 15px;
  text-align: left;
  margin: 0;
}
.aside__link {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  width: fit-content;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .aside__link {
    margin: 0 auto;
  }
}
.aside__link:hover p {
  color: #841DE0;
}
.aside__link:hover svg path {
  fill: #841DE0;
}
.aside__link:hover .parks path {
  fill: none !important;
  stroke: #841DE0;
}
.aside__link svg {
  margin: 0;
  width: 18px !important;
  height: 20px !important;
}

main {
  margin: 0;
}

.main {
  width: 80%;
  margin: 0;
  display: inline-block;
  padding: 60px;
}
@media screen and (max-width: 1024px) {
  .main {
    padding: 30px;
  }
}
@media screen and (min-width: 300px) {
  .main .d-flex {
    flex-direction: column;
  }
}

.purple {
  color: #841DE0;
}

.container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 60px;
}
@media screen and (max-width: 1024px) {
  .container {
    margin-top: 30px;
    gap: 30px;
  }
}

.border {
  border: 1px solid black;
  border-radius: 15px;
  max-width: min-content;
  overflow: hidden;
}
.border img {
  border-radius: 15px 15px 0px 0px;
  width: 300px;
  max-height: 20rem;
}
@media screen and (max-width: 680px) {
  .border img {
    width: 250px;
  }
}
.border div {
  padding-left: 15px;
  padding-top: 15px;
}
.border div:last-child {
  padding-bottom: 15px;
}
.border .line {
  margin-top: 15px;
}