@use 'variables' as *;

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.aclonica {
    font-family: "Aclonica", sans-serif;
}

.f-20 {
    font-size: 20px;
}

.aside {
    float: left;
    padding: $common-margin;
    border-right: 1px solid $violet;
    box-shadow: 4px 1px 10px -8px $violet;
    height: 100%;
    width: 20%;

    @media screen and (max-width: 1024px) {
        width: 15%;
        padding:calc($common-margin / 2);
        
        li {
            display: none;
        }
    }

    @media screen and (max-width:680px) {
        width: 20%;
    }

    // @media screen and (max-width:680px) {
    //     width: 15%;
    // }

    ul {
        list-style: none;
        padding: 0;

        a {
            text-decoration: none;
            color: unset;
        }

        li {
            padding-left: 15px;
            text-align: left;
            margin: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        width: fit-content;
        margin: 0;

        @media screen and (max-width:1024px) {
            margin: 0 auto;
        }

        &:hover {
            a {
                color: $violet;
            }

            svg path {
                fill:$violet;
            }

            .parks path {
                fill: none !important;
                stroke: $violet;
                
            }
        }


        svg {
            margin: 0;
            width: 18px !important;
            height: 20px !important;
        }
    }
}

main {
    margin: 0;
}

.main {
    width: 80%;
    margin: 0;
    display: inline-block;
    padding: $common-margin;

    @media screen and (max-width: 1024px) {
        padding: calc($common-margin / 2);
    }

    .d-flex {
        @media screen and (min-width: 300px) {
            flex-direction: column;
        }
    }
}

.purple {
    color: $violet;
}

.container {
    display: flex;
    gap: $common-margin;
    flex-wrap: wrap;
    margin-top: $common-margin;

    @media screen and (max-width:1024px) {
        margin-top: calc($common-margin / 2);
        gap: calc($common-margin / 2);
    }
}

.border {
    border: 1px solid black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

    img {
        border-radius: 15px 15px 0px 0px;
        max-width: inherit;
    }

    div {
        padding-left: 15px;
        padding-top: 15px;

        &:last-child {
            padding-bottom: 15px;
        }
    }

    .line {
        margin-top: 15px;
    }
}