@use 'variables' as *;

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.aclonica {
  font-family: "Aclonica", sans-serif;
}

.f-20 {
  font-size: 20px;
}

// Main text box and text styling
.big-container {
  max-width: $big-container-width;
  flex: 1;
  padding: 30px;


  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  .main-text {

    padding: 20px;
    margin-bottom: 30px;
  }

  h6 {
    font-family: 'Aclonica', sans-serif;
    font-size: 16px;
  }
}

//Article box styling
.small-container {
  max-width: $small-container-width;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;


  .transport-card {
    flex: 1;
    min-height: 150px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    border: 1px solid black;

  }
}

//article content styling
.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;


  //article logo styling
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 100px;
  }

  // Blue box around the scotrail logo to make it larger
  .scotrail-logo-container {
    background-color: #202d61;
    padding: 10px;
    border-radius: 4px;
  }

  .transport-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.p-30 {
  padding: calc($common-margin / 2) 0;
}