@use 'variables' as *;

.aclonica {
    font-family: "Aclonica", sans-serif;
}

.f-20 {
    font-size: 20px;
}

main {
    margin: $common-margin;

    @media screen and (max-width:680px) {
        margin: calc($common-margin / 2);
    }
}

#forecast-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc($common-margin / 2);

    button img {
        height: 24px;
    }
}

#weather-forecast {
    display: flex;
    overflow: hidden;
    width: 80%;
    gap: 10px;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.weather-card {
    border: 1px solid #2F3148;
    border-radius: 10px;
    padding: 15px;
    width: 18%; /* Default width (fits 5 cards) */
    text-align: center;
    background-color: #8689AC;
    color: white;
}

.nav-button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    background: none;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .weather-card {
        width: 30%; /* Fits 3 cards per row */
    }
}
@media screen and (max-width: 768px) {
    .weather-card {
        width: 45%; /* Fits 2 cards per row */
    }
}
@media screen and (max-width: 480px) {
    .weather-card {
        width: 90%; /* Full-width for mobile */
    }
}

.violet {
    color: #2F3148;
}